<!DOCTYPE html>

<!-- Single page application (SPA) -->
<html ng-app="shopping">

<head>
    <meta lang="en">
    <meta charset="utf-8">
    
    <!-- Optimized for iPhone 5 home screen installation -->
    <meta name="viewport" content="user-scalable = no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-startup-image" href="/apple-touch-startup-image.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" />
    
    <title>Shopping</title>

    <!-- Cascading Style Sheets (CSS) -->
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/style.css" type="text/css" rel="stylesheet" />

    <!-- AngularJS -->
    <script src="js/libs/angular.min.js" type="text/javascript"></script>
    <script src="js/libs/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript"></script>

    <!-- Custom -->
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers.js" type="text/javascript"></script>
    <script src="js/services.js" type="text/javascript"></script>
</head>

<body ng-controller="MainCtrl">
    <div class="container">
        <div class="row" ng-if="alerts.loadItemsError">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11 col-xs-10 middle-text">
                                Cannot load items! Check Internet connection!
                            </div>
                            <div class="col-md-1 col-xs-2 text-right">
                                <span ng-click="closeAlert('loadItemsError')" class="middle-text close-mouse-over glyphicon glyphicon-remove-circle"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="alerts.saveItemsError">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11 col-xs-10 middle-text">
                                Cannot save items! Check Internet connection!
                            </div>
                            <div class="col-md-1 col-xs-2 text-right">
                                <span ng-click="closeAlert('saveItemsError')" class="middle-text close-mouse-over glyphicon glyphicon-remove-circle"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row vertical-spacing">
            <div class="col-md-6 col-md-offset-2 col-xs-9 vertical-spacing">
                <button class="btn btn-success btn-lg btn-block big-text" ng-click="addItem()">Add item</button>
            </div>
            <div class="col-md-2 col-xs-3 vertical-spacing">
                <button class="btn btn-primary btn-lg btn-block big-text" ng-click="refresh()"><span class="glyphicon glyphicon-repeat"></span>
                </button>
            </div>
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <button class="btn btn-danger btn-lg btn-block big-text" ng-click="removeChecked()">Remove checked</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <table class="table">
                    <tr ng-repeat="item in items" class="big-text">
                        <td>
                            <input type="checkbox" ng-model="item.checked" class="vertical-centered" />
                        </td>
                        <td class="color-white" ng-click="item.checked = !item.checked">{{item.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row vertical-spacing">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <button class="btn btn-warning btn-lg btn-block big-text" ng-click="save()">Save</button>
            </div>
        </div>
        <div class="row" ng-if="alerts.loadItemsSuccess">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11 col-xs-10 middle-text">
                                Items successfully loaded!
                            </div>
                            <div class="col-md-1 col-xs-2 text-right">
                                <span ng-click="closeAlert('loadItemsSuccess')" class="middle-text close-mouse-over glyphicon glyphicon-remove-circle"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="alerts.saveItemsSuccess">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11 col-xs-10 middle-text">
                                Items successfully saved!
                            </div>
                            <div class="col-md-1 col-xs-2 text-right">
                                <span ng-click="closeAlert('saveItemsSuccess')" class="middle-text close-mouse-over glyphicon glyphicon-remove-circle"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
